:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 1282px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.desktop-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  padding: 30px 0 30px 0;
  background: #ffffff;
  overflow: hidden;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 45px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.22),
    rgba(0, 225, 197, 0.06)
  );
  z-index: 1;
}
.navbar {
  flex-shrink: 0;
  position: relative;
  width: 1180px;
  height: 119px;
  z-index: 2;
  overflow: hidden;
}
.logo {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 206px;
  height: 78px;
  top: 50%;
  left: 30px;
  padding: 10px 10px 10px 10px;
  transform: translate(0, -50.64%);
  z-index: 3;
  overflow: hidden;
}
.rectangle {
  flex-shrink: 0;
  position: relative;
  width: 186px;
  height: 58px;
  background: url(../assets/images/f7bd9e490415345f962a3bb7ac70c38f0814c345.png)
    no-repeat center;
  background-size: contain;
  z-index: 4;
}
.button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 140px;
  height: 52px;
  top: 50%;
  right: 39px;
  padding: 20px 36px 20px 36px;
  border: 1px solid #00b6f0;
  transform: translate(0, -50.96%);
  z-index: 15;
  overflow: hidden;
  border-radius: 85px;
}
.text {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 68px;
  padding: 10px 10px 10px 10px;
  z-index: 16;
  overflow: hidden;
}
.login {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #00b6f0;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 17;
}
.menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 407px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  overflow: hidden;
}
.frame {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 31px;
  position: relative;
  width: 407px;
  z-index: 6;
  overflow: hidden;
}
.link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 70px;
  padding: 10px 10px 10px 10px;
  z-index: 7;
  overflow: hidden;
}
.home {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 8;
}
.link-1 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 86px;
  padding: 10px 10px 10px 10px;
  z-index: 9;
  overflow: hidden;
}
.product {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 10;
}
.link-2 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 71px;
  padding: 10px 10px 10px 10px;
  z-index: 11;
  overflow: hidden;
}
.about {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 12;
}
.link-3 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 87px;
  padding: 10px 10px 10px 10px;
  z-index: 13;
  overflow: hidden;
}
.contact {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 14;
}
.confetti-shapes {
  flex-shrink: 0;
  position: relative;
  width: 991.198px;
  height: 1px;
  z-index: 18;
}
.vector {
  position: absolute;
  width: 843.339px;
  height: 82266.63%;
  top: 7090.73%;
  left: -657.841px;
  background: url(../assets/images/f5f28043-67c5-4f36-bfb7-8ba2fae4262f.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.vector-4 {
  position: absolute;
  width: 71.88%;
  height: 475.095px;
  top: 366px;
  left: 81.98%;
  background: url(../assets/images/ae332f26-f770-4de1-9aa5-6b436664599d.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.text-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 17px;
  position: relative;
  padding: 39px 0 39px 0;
  z-index: 21;
  overflow: hidden;
}
.headline {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 510px;
  padding: 10px 10px 10px 10px;
  z-index: 22;
  overflow: hidden;
}
.lightning-fast-prototyping {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 490px;
  height: 156px;
  color: #112d57;
  font-family: Circular Std, var(--default-font-family);
  font-size: 72px;
  font-weight: 900;
  line-height: 78px;
  text-align: center;
  text-overflow: initial;
  letter-spacing: 0.2px;
  z-index: 23;
  overflow: hidden;
}
.sub-heading {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 544px;
  padding: 10px 10px 10px 10px;
  z-index: 24;
  overflow: hidden;
}
.freelancer-calendar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 524px;
  height: 76px;
  color: #5c5c5c;
  font-family: Circular Std, var(--default-font-family);
  font-size: 24px;
  font-weight: 450;
  line-height: 38px;
  text-align: center;
  text-overflow: initial;
  letter-spacing: 0.2px;
  z-index: 25;
  overflow: hidden;
}
.buttons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 25px;
  position: relative;
  width: 411px;
  z-index: 26;
}
.button-6 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 192px;
  height: 52px;
  padding: 20px 36px 20px 36px;
  background: #00b6f0;
  z-index: 27;
  overflow: hidden;
  border-radius: 85px;
}
.text-7 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 120px;
  padding: 10px 10px 10px 10px;
  z-index: 28;
  overflow: hidden;
}
.get-started {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 29;
}
.button-8 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 194px;
  height: 52px;
  padding: 20px 36px 20px 36px;
  background: #ffffff;
  z-index: 30;
  overflow: hidden;
  border-radius: 85px;
}
.text-9 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 122px;
  padding: 10px 10px 10px 10px;
  z-index: 31;
  overflow: hidden;
}
.try-for-free {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 32;
}
.screen {
  flex-shrink: 0;
  position: relative;
  width: 1119px;
  height: 770px;
  z-index: 33;
}
.flat-browser {
  position: absolute;
  width: 100.13%;
  height: 104.29%;
  top: 0;
  left: 0;
  background: url(../assets/images/dfeffc3e-2be8-4460-9b1a-fdb68cd71dc3.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 34;
}
.light-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  padding: 62px 199px 62px 199px;
  background: #ffffff;
  z-index: 35;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 59px;
  position: relative;
  width: 634px;
  z-index: 36;
}
.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7px;
  position: relative;
  width: 634px;
  z-index: 37;
  overflow: hidden;
}
.title {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 172px;
  padding: 10px 10px 10px 10px;
  z-index: 38;
  overflow: hidden;
}
.just-type {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 42px;
  color: #f3cc02;
  font-family: Circular Std, var(--default-font-family);
  font-size: 36px;
  font-weight: 450;
  line-height: 42px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 39;
}
.second-headline {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 634px;
  padding: 10px 10px 10px 10px;
  z-index: 40;
  overflow: hidden;
}
.fastest-way-to-navigate {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 614px;
  height: 65px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 41;
}
.sub-heading-a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 459px;
  padding: 10px 10px 10px 10px;
  z-index: 42;
  overflow: hidden;
}
.most-calendars-designed {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 439px;
  height: 76px;
  color: #5c5c5c;
  font-family: Circular Std, var(--default-font-family);
  font-size: 24px;
  font-weight: 450;
  line-height: 38px;
  text-align: center;
  text-overflow: initial;
  letter-spacing: 0.2px;
  z-index: 43;
  overflow: hidden;
}
.buttons-b {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 13px;
  position: relative;
  width: 445px;
  z-index: 44;
}
.button-c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 187px;
  height: 52px;
  padding: 20px 40px 20px 40px;
  background: #00b6f0;
  z-index: 45;
  overflow: hidden;
  border-radius: 85px;
}
.text-d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 107px;
  padding: 10px 10px 10px 10px;
  z-index: 46;
  overflow: hidden;
}
.download {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 47;
}
.button-e {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 245px;
  height: 52px;
  padding: 20px 39px 20px 39px;
  background: #ffffff;
  border: 2px solid #00b6f0;
  z-index: 48;
  overflow: hidden;
  border-radius: 85px;
}
.text-f {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 167px;
  padding: 10px 10px 10px 10px;
  z-index: 49;
  overflow: hidden;
}
.see-walkthrough {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #00b6f0;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 50;
}
.light-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  padding: 100px 20px 100px 20px;
  background: #ffffff;
  z-index: 51;
  overflow: hidden;
}
.content-10 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 50px;
  position: relative;
  width: 1045px;
  z-index: 52;
}
.text-content-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7px;
  position: relative;
  width: 459px;
  z-index: 53;
  overflow: hidden;
}
.title-12 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 332px;
  padding: 10px 10px 10px 10px;
  z-index: 54;
  overflow: hidden;
}
.opentype-features {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 42px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 36px;
  font-weight: 450;
  line-height: 42px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 55;
}
.most-calendars-designed-13 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 459px;
  padding: 10px 10px 10px 10px;
  z-index: 56;
  overflow: hidden;
}
.learn-more {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 439px;
  height: 152px;
  color: #5c5c5c;
  font-family: Circular Std, var(--default-font-family);
  font-size: 24px;
  font-weight: 450;
  line-height: 38px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.2px;
  z-index: 57;
  overflow: hidden;
}
.link-14 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 138px;
  padding: 10px 10px 10px 10px;
  z-index: 58;
  overflow: hidden;
}
.learn-more-15 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #00b6f0;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 59;
}
.frame-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 536px;
  padding: 10px 10px 10px 10px;
  z-index: 60;
}
.frame-17 {
  flex-shrink: 0;
  position: relative;
  width: 508px;
  height: 1px;
  z-index: 61;
}
.vector-18 {
  position: relative;
  width: 498px;
  height: 497px;
  margin: -70px 0 0 363.5px;
  background: url(../assets/images/3d4f2ca1-50cd-4e72-a016-afcd129b8145.png)
    no-repeat center;
  background-size: cover;
  z-index: 62;
}
.screen-19 {
  flex-shrink: 0;
  position: relative;
  width: 516px;
  height: 351px;
  background: url(../assets/images/b5d9e876-82ef-4173-a5ed-c74e43aa312c.png)
    no-repeat center;
  background-size: cover;
  z-index: 63;
  border-radius: 5px;
}
.light-content-1a {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  padding: 100px 20px 100px 20px;
  background: #ffffff;
  z-index: 64;
  overflow: hidden;
}
.content-1b {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 50px;
  position: relative;
  width: 966px;
  z-index: 65;
}
.frame-1c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 536px;
  padding: 10px 10px 10px 10px;
  z-index: 66;
}
.frame-1d {
  flex-shrink: 0;
  position: relative;
  width: 508px;
  height: 1px;
  z-index: 67;
}
.vector-1e {
  position: relative;
  width: 470px;
  height: 501px;
  margin: -56px 0 0 -278.5px;
  background: url(../assets/images/e79317f3-b445-4979-8e0d-0923847f02e7.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
}
.screen-1f {
  flex-shrink: 0;
  position: relative;
  width: 516px;
  height: 351px;
  background: url(../assets/images/1417c9db-6a76-4741-b365-2e2b593ac692.png)
    no-repeat center;
  background-size: cover;
  z-index: 69;
  border-radius: 5px;
}
.text-content-20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7px;
  position: relative;
  width: 380px;
  z-index: 70;
  overflow: hidden;
}
.title-21 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 244px;
  padding: 10px 10px 10px 10px;
  z-index: 71;
  overflow: hidden;
}
.variable-fonts {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 42px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 36px;
  font-weight: 450;
  line-height: 42px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 72;
}
.sub-heading-22 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 380px;
  padding: 10px 10px 10px 10px;
  z-index: 73;
  overflow: hidden;
}
.team-slate-freelancers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 360px;
  height: 114px;
  color: #5c5c5c;
  font-family: Circular Std, var(--default-font-family);
  font-size: 24px;
  font-weight: 450;
  line-height: 38px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.2px;
  z-index: 74;
  overflow: hidden;
}
.link-23 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 138px;
  padding: 10px 10px 10px 10px;
  z-index: 75;
  overflow: hidden;
}
.learn-more-24 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #00b6f0;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 76;
}
.light-cta-25 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  padding: 62px 199px 62px 199px;
  background: #ffffff;
  z-index: 77;
  overflow: hidden;
}
.content-26 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 52px;
  position: relative;
  width: 757px;
  z-index: 78;
}
.text-content-27 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7px;
  position: relative;
  width: 692px;
  z-index: 79;
  overflow: hidden;
}
.second-headline-28 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 692px;
  padding: 10px 10px 10px 10px;
  z-index: 80;
  overflow: hidden;
}
.rethink-work {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 65px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 65px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 81;
}
.paragraphe {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 687px;
  padding: 10px 10px 10px 10px;
  z-index: 82;
  overflow: hidden;
}
.rollercoaster-emotions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 667px;
  height: 60px;
  color: #5c5c5c;
  font-family: Circular Std, var(--default-font-family);
  font-size: 19px;
  font-weight: 450;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.2px;
  z-index: 83;
}
.progress-bar-title {
  flex-shrink: 0;
  position: relative;
  width: 757px;
  height: 34px;
  z-index: 84;
}
.progress-bar {
  position: relative;
  width: 757px;
  height: 15px;
  margin: 0 0 0 -0.5px;
  background: url(../assets/images/8698fe4a-9b0c-4d2a-aded-08b98f606cc5.png)
    no-repeat center;
  background-size: cover;
  z-index: 87;
}
.flex-row-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 757px;
  height: 24px;
  margin: 7px 0 0 0;
  z-index: 86;
}
.facebook {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #505d6f;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 85;
}
.digits {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
  width: 150px;
  height: 24px;
  color: #4f5c6f;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
  white-space: nowrap;
  z-index: 86;
}
.button-29 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 266px;
  height: 52px;
  padding: 20px 36px 20px 36px;
  background: #00b6f0;
  z-index: 88;
  overflow: hidden;
  border-radius: 85px;
}
.get-started-free {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 194px;
  padding: 10px 10px 10px 10px;
  z-index: 89;
  overflow: hidden;
}
.light-testimonial {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 90;
}
.frame-2a {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 50px;
  position: relative;
  min-width: 0;
  padding: 108px 20px 108px 20px;
  background: #ffffff;
  z-index: 91;
  overflow: hidden;
}
.vector-2b {
  flex-shrink: 0;
  position: relative;
  width: 427px;
  height: 1px;
  z-index: 92;
}
.vector-2c {
  position: absolute;
  width: 142.843px;
  height: 149.745px;
  top: 374.386px;
  left: -287.399px;
  background: url(../assets/images/80ef7a31-b259-4ba5-8259-3e9402bb2e9e.png)
    no-repeat center;
  background-size: cover;
  z-index: 94;
}
.title-2d {
  position: absolute;
  width: 562px;
  height: 435px;
  top: 50%;
  left: 50%;
  background: url(../assets/images/7dd40758-1141-470f-b31b-a18863903a7c.png)
    no-repeat center;
  background-size: cover;
  transform: translate(54%, 107.93%);
  z-index: 93;
}
.testimonials {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 222px;
  padding: 10px 10px 10px 10px;
  z-index: 95;
  overflow: hidden;
}
.brands {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 42px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 36px;
  font-weight: 450;
  line-height: 42px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 96;
}
.logos-ibm {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 74px;
  position: relative;
  width: 149.854px;
  padding: 19px 0 19px 0;
  z-index: 97;
  overflow: hidden;
}
.vector-2e {
  flex-shrink: 0;
  position: relative;
  width: 149.854px;
  height: 60px;
  z-index: 98;
  overflow: hidden;
}
.paragraphe-2f {
  position: relative;
  width: 149.854px;
  height: 59.941px;
  margin: 0 0 0 0;
  background: url(../assets/images/5757abc6-536f-4dd1-a025-e7e2284ac9f1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 99;
}
.freelance-business-stressful {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 550px;
  padding: 10px 10px 10px 10px;
  z-index: 100;
  overflow: hidden;
}
.client {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 530px;
  height: 90px;
  color: #5c5c5c;
  font-family: Circular Std, var(--default-font-family);
  font-size: 19px;
  font-weight: 450;
  line-height: 30px;
  text-align: center;
  text-overflow: initial;
  letter-spacing: 0.2px;
  z-index: 101;
  overflow: hidden;
}
.box-14 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 13px;
  position: relative;
  width: 190px;
  z-index: 102;
  overflow: hidden;
}
.avatar {
  flex-shrink: 0;
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 103;
}
.ellipse {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/63055d62-f745-4e81-a082-4d804d4a086f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 104;
  border-radius: 50%;
}
.text-content-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 127px;
  z-index: 105;
  overflow: hidden;
}
.link-31 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 127px;
  padding: 0 10px 0 10px;
  z-index: 106;
  overflow: hidden;
}
.esther-webb {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 107;
}
.subtitle {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 93px;
  padding: 0 10px 0 10px;
  z-index: 108;
  overflow: hidden;
}
.designer {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #5c5c5c;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 109;
}
.button-32 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 255px;
  height: 52px;
  padding: 30px 50px 30px 50px;
  background: #00b6f0;
  z-index: 110;
  overflow: hidden;
  border-radius: 85px;
}
.text-33 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 155px;
  padding: 10px 10px 10px 10px;
  z-index: 111;
  overflow: hidden;
}
.all-testimonials {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 112;
}
.dark-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  padding: 100px 20px 100px 20px;
  background: #182333;
  z-index: 113;
  overflow: hidden;
}
.content-34 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 167px;
  position: relative;
  width: 881px;
  z-index: 114;
}
.text-content-35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 437px;
  z-index: 115;
  overflow: hidden;
}
.second-headline-36 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 205px;
  padding: 10px 10px 10px 10px;
  z-index: 116;
  overflow: hidden;
}
.pricing {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 65px;
  color: #ffffff;
  font-family: Circular Std, var(--default-font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 65px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 117;
}
.paragraphe-37 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 437px;
  padding: 10px 10px 10px 10px;
  z-index: 118;
  overflow: hidden;
}
.text-content-38 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 417px;
  height: 90px;
  color: #ffffff;
  font-family: Circular Std, var(--default-font-family);
  font-size: 19px;
  font-weight: 450;
  line-height: 30px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.2px;
  z-index: 119;
  overflow: hidden;
}
.text-content-39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 277px;
  z-index: 120;
  overflow: hidden;
}
.subtitle-3a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 185px;
  padding: 10px 10px 10px 10px;
  z-index: 121;
  overflow: hidden;
}
.text-21 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 122;
}
.frame-3b {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 233px;
  z-index: 123;
  overflow: hidden;
}
.headline-3c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 84px;
  z-index: 124;
  overflow: hidden;
}
.dollar {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 78px;
  color: #f3cc02;
  font-family: Circular Std, var(--default-font-family);
  font-size: 72px;
  font-weight: 900;
  line-height: 78px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 125;
}
.sub-heading-3d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 149px;
  padding: 10px 10px 10px 10px;
  z-index: 126;
  overflow: hidden;
}
.per-month-user {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 129px;
  height: 76px;
  color: #ffffff;
  font-family: Circular Std, var(--default-font-family);
  font-size: 24px;
  font-weight: 450;
  line-height: 38px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.2px;
  z-index: 127;
  overflow: hidden;
}
.paragraphe-3e {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 277px;
  padding: 20px 10px 20px 10px;
  z-index: 128;
  overflow: hidden;
}
.calendars-teams {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 257px;
  height: 60px;
  color: #ffffff;
  font-family: Circular Std, var(--default-font-family);
  font-size: 19px;
  font-weight: 450;
  line-height: 30px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.2px;
  z-index: 129;
  overflow: hidden;
}
.button-3f {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 196px;
  height: 52px;
  padding: 0 38px 0 38px;
  background: #00b6f0;
  z-index: 130;
  overflow: hidden;
  border-radius: 85px;
}
.text-40 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 120px;
  padding: 10px 10px 10px 10px;
  z-index: 131;
  overflow: hidden;
}
.get-started-41 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 132;
}
.light-content-42 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  padding: 50px 20px 50px 20px;
  background: linear-gradient(180deg, #e8f9ff, rgba(232, 249, 255, 0));
  z-index: 133;
  overflow: hidden;
}
.content-43 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 47px;
  position: relative;
  width: 987px;
  z-index: 134;
}
.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 494px;
  padding: 26px 22px 26px 22px;
  z-index: 135;
  overflow: hidden;
}
.title-44 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 406px;
  padding: 10px 10px 10px 10px;
  z-index: 136;
  overflow: hidden;
}
.ergonomic-meeting {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 386px;
  height: 84px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 36px;
  font-weight: 450;
  line-height: 42px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.1px;
  z-index: 137;
  overflow: hidden;
}
.text-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 446px;
  padding: 20px 0 20px 0;
  z-index: 138;
  overflow: hidden;
}
.paragraph {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 446px;
  padding: 10px 10px 10px 10px;
  z-index: 139;
  overflow: hidden;
}
.freelancer-emotions {
  flex-shrink: 0;
  position: relative;
  width: 426px;
  font-family: Circular Std, var(--default-font-family);
  font-size: 19px;
  font-weight: 450;
  line-height: 30px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 140;
}
.freelancer-emotions-45 {
  position: relative;
  color: #5c5c5c;
  font-family: Circular Std, var(--default-font-family);
  font-size: 19px;
  font-weight: 450;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.2px;
}
.freelancer-emotions-46 {
  position: relative;
  color: #5c5c5c;
  font-family: Roboto, var(--default-font-family);
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.2px;
}
.button-47 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 192px;
  height: 52px;
  padding: 20px 36px 20px 36px;
  background: #00b6f0;
  z-index: 141;
  overflow: hidden;
  border-radius: 85px;
}
.text-48 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 120px;
  padding: 10px 10px 10px 10px;
  z-index: 142;
  overflow: hidden;
}
.get-started-49 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 143;
}
.light-footer {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 207px;
  background: #ffffff;
  z-index: 144;
  overflow: hidden;
}
.brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 266px;
  height: 86px;
  top: 50%;
  left: 76px;
  transform: translate(0, -49.42%);
  z-index: 145;
  overflow: hidden;
}
.logo-4a {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 206px;
  padding: 0 10px 0 10px;
  z-index: 146;
  overflow: hidden;
}
.rectangle-4b {
  flex-shrink: 0;
  position: relative;
  width: 186px;
  height: 58px;
  background: url(../assets/images/f7bd9e490415345f962a3bb7ac70c38f0814c345.png)
    no-repeat center;
  background-size: contain;
  z-index: 147;
}
.subtitle-4c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 266px;
  padding: 0 10px 0 10px;
  z-index: 148;
  overflow: hidden;
}
.on-your-mind {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #5c5c5c;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 149;
}
.social-media {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 29.481px;
  position: absolute;
  width: 210px;
  height: 50.346px;
  top: 50%;
  right: 94px;
  transform: translate(0, -50.65%);
  z-index: 160;
  overflow: hidden;
}
.twitter-outlined {
  flex-shrink: 0;
  position: relative;
  width: 50.346px;
  height: 50.346px;
  z-index: 161;
  overflow: hidden;
}
.vector-4d {
  position: relative;
  width: 40.911px;
  height: 33.236px;
  margin: 8.555px 0 0 4.717px;
  background: url(../assets/images/45bcd332-f5b6-4ac9-92ec-0d65e5ad0632.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 162;
}
.facebook-filled {
  flex-shrink: 0;
  position: relative;
  width: 50.346px;
  height: 50.346px;
  z-index: 163;
  overflow: hidden;
}
.vector-4e {
  position: relative;
  width: 39.333px;
  height: 39.333px;
  margin: 5.507px 0 0 5.506px;
  background: url(../assets/images/3ace8a58-b68c-4b5f-9dbe-ffd1df42618b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 164;
}
.linkedin-filled {
  flex-shrink: 0;
  position: relative;
  width: 50.346px;
  height: 50.346px;
  z-index: 165;
  overflow: hidden;
}
.vector-4f {
  position: relative;
  width: 39.333px;
  height: 39.333px;
  margin: 5.507px 0 0 5.508px;
  background: url(../assets/images/7c8384dc-71a7-4289-8bca-2b4448542d8d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 166;
}
.menu-50 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 407px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-49.88%, -50%);
  z-index: 150;
  overflow: hidden;
}
.frame-51 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 31px;
  position: relative;
  width: 407px;
  z-index: 151;
  overflow: hidden;
}
.link-52 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 70px;
  padding: 10px 10px 10px 10px;
  z-index: 152;
  overflow: hidden;
}
.home-53 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 153;
}
.link-54 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 86px;
  padding: 10px 10px 10px 10px;
  z-index: 154;
  overflow: hidden;
}
.product-55 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 155;
}
.link-56 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 71px;
  padding: 10px 10px 10px 10px;
  z-index: 156;
  overflow: hidden;
}
.about-57 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 157;
}
.link-58 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 87px;
  padding: 10px 10px 10px 10px;
  z-index: 158;
  overflow: hidden;
}
.contact-59 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #20252a;
  font-family: Circular Std, var(--default-font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 159;
}
